{
  "swagger": "2.0",
  "info": {
    "title": "Templafy",
    "description": "Automate the transformation of data into various document formats, presentations, spreadsheets, or PDFs effortlessly. Templafy empowers document automation by leveraging the flexible capabilities found in Microsoft 365 templates for applications like Word, PowerPoint, and Excel. The outcome can range from impeccably customized documents to the creation of PDF files.",
    "version": "1.0"
  },
  "host": "api.templafy.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/libraries/{spaceId}/{templateType}/assets/{assetId}/generate": {
      "post": {
        "summary": "Generate a document",
        "description": "Creates a file from a template. You can create docx, pptx, xlsx and PDF files",
        "operationId": "GenerateDocument",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Space ID"
          },
          {
            "name": "templateType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "documents",
              "presentations",
              "text-elements",
              "spreadsheets"
            ],
            "x-ms-summary": "Template type"
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Asset ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address of the Templafy user",
                  "title": "Email",
                  "x-ms-visibility": "important"
                },
                "data": {
                  "type": "object",
                  "properties": {},
                  "title": "Data",
                  "x-ms-visibility": "important",
                  "default": {}
                },
                "includePdf": {
                  "type": "boolean",
                  "description": "",
                  "title": "Include PDF?",
                  "format": "boolean",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important",
                  "default": false
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "includePdf",
                "email",
                "data"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "checksum": {
                  "type": "string",
                  "description": "checksum"
                },
                "downloadUrl": {
                  "type": "string",
                  "description": "downloadUrl"
                },
                "fileExtension": {
                  "type": "string",
                  "description": "fileExtension"
                },
                "fileSize": {
                  "type": "string",
                  "description": "fileSize"
                },
                "mimeType": {
                  "type": "string",
                  "description": "mimeType"
                },
                "pdfDownloadUrl": {
                  "type": "string",
                  "description": "pdfDownloadUrl"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "description": "errors"
                },
                "type": {
                  "description": "type"
                },
                "title": {
                  "description": "title"
                },
                "status": {
                  "description": "status"
                },
                "detail": {
                  "description": "detail"
                },
                "instance": {
                  "description": "instance"
                },
                "traceId": {
                  "description": "traceId"
                }
              }
            }
          },
          "401": {
            "description": "401"
          },
          "403": {
            "description": "403"
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "description": "type"
                },
                "title": {
                  "description": "title"
                },
                "status": {
                  "description": "status"
                },
                "detail": {
                  "description": "detail"
                },
                "instance": {
                  "description": "instance"
                },
                "traceId": {
                  "description": "traceId"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}